<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <!--<add name="sqlconex" connectionString="server=.;Integrated Security=yes;Database=SQLQuery_capas"/>--> <!--Esto es si entra con un usuario al sql server-->
    <add name="sqlconex" conectionString= "sever=.;Integrated=false;Database=bdempresa;uid=sa;pwd=dios2726;"/> <!-- Esto es si tienes un usuario en sql server -->
  </connectionStrings>

</configuration>